<%- include('../partials/header') %>
<h2>Đăng nhập</h2>
<form method="POST" action="/users/login">
    <input type="text" name="username" placeholder="Tên đăng nhập" required><br>
    <input type="password" name="password" placeholder="Mật khẩu" required><br>
    <button type="submit">Đăng nhập</button>
    <button><a href="/users/register">Đăng ký</a></button>
</form>



<% if (typeof error !== 'undefined') { %>
    <p style="color:red"><%= error %></p>
    <br>
    <a href="/users/forgot">Quên mật khẩu?</a>
<% } %>
<%- include('../partials/footer') %>