<%- include('../partials/header') %>
<h2>Đăng ký</h2>
<form method="POST" action="/users/register">
    <input type="text" name="username" placeholder="Tên đăng nhập" required><br>
    <input type="password" name="password" placeholder="Mật khẩu" required><br>
    <button type="submit">Đăng ký</button>
</form>
<% if (typeof error !== 'undefined') { %>
    <p style="color:red"><%= error %></p>
<% } %>
<%- include('../partials/footer') %>